/* GLOBAL */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  background-color: #1f1f1f;
  padding: 10px;
  border-bottom: 3px solid #ffffff;
}

header img {
  border-radius: 50px;
}

header h1 {
  color: #ffffff;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  color: #ffffff;
  text-decoration: none;
}

nav {
  width: 100%;
}

nav ul {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  background-image: url('./images/agua.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

section {
  margin: 0 auto;
  background-color: rgba(90, 90, 90, 0.404);
  padding: 30px;
}

article {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 500px;
}

article h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px; 
  border-bottom: 3px solid #ffffff; 
}

article a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

article a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer {
  background-color: #1f1f1f;
  padding: 10px;
  text-align: center;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
}

h2 {
  color: #ff0000;
}

h3 {
  color: #ffffff;
}

h4 {
  color: #ff6600;
}

h6 {
  color: #ffffff;
  font-weight: bold;
}

span {
  font-weight: bold;
  color: #00b62d;
}

table {
  margin: 0 auto;
}

table th {
  color: #ffffff;
  font-weight: bold;
}

table td {
  font-weight: bold;
  color: #00b62d;
}

/* CLASS */

.boxModal {
  margin: 0 auto;
  background-color: #1f1f1f;
  border-radius: 50px;
  text-align: center;
  width: 400px;
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.loader {
  margin-top: 20px;
  position: relative;
  margin-bottom: 50px;
}

.spinner {
  color:#ffffff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle {
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-right-color: transparent;
}

.inactive {
  color: #ffffff;
  text-decoration: none;
}

.inactive:hover {
  color: #00b62d;
}

.active {
  color: #00b62d; 
}

/* NAVBAR */

#addTokenModal {
 margin-top: 10px;
 margin-bottom: 10px;
}

#logo {
  cursor: crosshair;
}

/* HOME */

#twitch {
  display: inline-block;
  text-align: center;
}

/* FAUCET */

/* FARM */

/* FOOTBAR */

#about {
  color: #ffbb00;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#about a {
  color: #00b62d;
  margin-left: 10px;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

.social {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.social a {
  margin-left: 15px;
}

/* INPUT */

.field__input { 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #5a5a5a);
  background-color: transparent;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field {
  margin-top: 60px;
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, #00b62d);
  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input {
  color: #00b62d;
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, #5a5a5a);  
}

.field__input:focus {
  outline: none;
}

.field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap {
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after {
  opacity: 1;
}

.field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);
  color: #ffffff;
  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);
  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
  top: var(--fieldHintTopHover, .25rem);
}

.field_v1 .field__label-wrap::after {
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
  will-change: opacity;
}

/* BUTTON 1 */

.btn {
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #00b62d;
  border: 2px solid #00b62d;
  border-radius: 0.6em;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover {
  color: #ffffff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #00b62d inset;
}

/* BUTTON 2 */

.btn2 button {
  margin-top: 20px;
  margin-bottom: 20px;
  width:110px;
  height:50px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 13px;
  background: #00b62d;
  color: #ffffff;
  border: 0.25rem solid #00b62d;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn2 button:hover {
  color: #00b62d;
}

.btn2 button::after {
  content: "";
  background: #ffffff;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.btn2 button[class^="slide"]::after {
  transition: all 0.35s;
}

.btn2 button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

.btn2 button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
} 
