/* GLOBAL */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #161616;
}

header {
  display: inline-block;
  text-align: center;
  background-color: #161616;
  width: 100%;
  margin-bottom: 15px;
}

#hh1 {  
  margin-left: 15px;
  margin-right: 40px;
  font-size: 30px;
}

#hh1 h1 {
  padding: 5px;
  color: #13ff4e;
}

#hh1 img {
  margin-top: 7px;
  border-radius: 30px;
}

header a {
  display: inline-flex;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

nav ul li a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

main {
  background-color: #161616;
  margin-top: 70px;
}

section {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  margin-bottom: 650px;
}

article {
  text-align: center;
  margin-top: 30px;
  display: flexbox;
}

article h1 {
  text-align: center;
}

article a:hover {
  text-decoration: underline;
}

footer {
  background-color: #161616;
  font-size: 20px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffbb00;
  font-size: 30px;
}

h2 {
  color: #ff0000;
  font-size: 40px;
}

h3 {
  color: #13ff4e;
  font-size: 20px;
}

h4 {
  color: #c4c4c4;
  font-size: 20px;
}

h5 {
  color: #ffffff;
}

h6 {
  color: #ffffff;
}

span {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
}

table {
  margin: 0 auto;
}

table th {
  color: #c4c4c4;
  font-weight: normal;
  font-size: 20px;
}

table td {
  font-weight: normal;
  color: #ffffff;
  font-size: 20px;
}

a {
  color: #c4c4c4;
  padding: 15px;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

p {
  color: #ffffff;
}

/* CLASS */

/* .titles {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(29, 29, 29);
  color: #ffae00;
} */

.titles {
  font-size: 25px;
}

.logo {
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 20px;
}

.boxModal {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #181818;
  border-radius: 30px;
  text-align: center;
  width: 380px;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 13px #13ff4e;
}

.footerModal {
  border-top: 1px solid #c4c4c4ab;
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}

.footerModal p {
  margin-bottom: 30px;
}

.footerModal a:hover {
  text-decoration: underline;
}

.loader {
  margin-top: 30px;
  position: relative;
}

.spinner {
  color:#ffae00;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle {
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-right-color: transparent;
}

.inactive {
  color: #c4c4c4;
  text-decoration: none;
  background: #161616;
}

.inactive:hover {
  color: #ffffff;
}

.active {
  color: #13ff4e;
}

.active:hover {
  color: #13ff4e;
}


/* HEADER */

#tokenModal {
  display: inline-flex;
  left: 0;
  position: absolute;
}

#walletModal {
  display: inline-flex;
  right: 0;
  position: absolute;
}

/* HOME */

.homes {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #181818;
  border-radius: 30px;
  text-align: center;
  width: 900px;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 13px #13ff4e;
}

.homes div {
  padding: 20px;
 } 

.homes2 {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #181818;
  border-radius: 30px;
  text-align: center;
  width: 900px;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 0px 13px #13ff4e;
}

.homes2 h4 {
  text-align: left;
}

.homes2 h5 {
  margin-top: -25px;
  text-align: right;
}

#twitch {
  margin-top: 40px;
  display: inline-block;
  background-color: #ffbb00;
}

/* FAUCET */

/* FARM */

/* FOOTBAR */

#about {
  display: inline-flex;
  left: 0;
  position: absolute;
  margin-top: 6px;
  margin-left: 15px;
}

#about a {
  color: #c4c4c4;
  text-decoration: none;
}

#about a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#social {
  display: inline-flex;
  right: 0;
  position: absolute;
  margin-top: 8px;
  margin-right: 15px;
}

/* INPUT */

.field__input {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #5a5a5a);
  background-color: transparent;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field {
  width: 280px;
  margin-top: 60px;
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  --uiFieldBorderColorActive: var(--fieldBorderColorActive, #06b900b2);
  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input {
  color: #ffffff;
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, #c4c4c4);  
}

.field__input:focus {
  outline: none;
}

.field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap {
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after {
  opacity: 1;
}

.field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);
  color: #c4c4c4;
  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);
  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
  top: var(--fieldHintTopHover, .25rem);
}

.field_v1 .field__label-wrap::after {
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
  will-change: opacity;
}

/* BUTTON 1 */

.btn1 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  box-sizing: border-box;
  background-color: #13ff4e;
  border-radius: 0.6em;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  box-shadow: none;
  border: none;
  width: 140px;
  height: 40px;
}

/* BUTTON 2 */

.btn2 button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 140px;
  height: 50px;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  background: #1a1a1a;
  border: 2px solid #13ff4e;
  color: #13ff4e;
  border-radius: 10px;
  overflow: hidden;
}

.btn2 button:hover:enabled {
  background: #13ff4e;
  border: 2px solid #000000;
  color: #000000;
}
